<div *ngIf="channelServ.showChannel" class="thread-container">

    <div class="detail-view-header">THREAD {{channelServ.currentThread.name}} </div>
    <div #scrollMe class="all-posts-container">
        <div class="post-container">
            <div class="post-img">
                <img  (mouseenter)="userHovered = channelServ.currentThread.post.authorId" [matMenuTriggerFor]="menu"
                #menuTrigger="matMenuTrigger" (mouseenter)="generalService.mouseEnter(menuTrigger)"
                (mouseleave)="generalService.mouseLeave(menuTrigger)"  class="img-small"
                    src="./../../../../assets/img/userIcons/{{(usersService.returnUsersPhotoUrl(channelServ.currentThread.post.authorId)) ? usersService.returnUsersPhotoUrl(channelServ.currentThread.post.authorId) : 'icon-unknown.svg'}}">
            </div>
            <mat-menu #menu="matMenu" xPosition="after" [hasBackdrop]="false">
                <div (mouseenter)="generalService.mouseEnter(menuTrigger)" (mouseleave)="generalService.mouseLeave(menuTrigger)">
                    <div class="show-user-details padding-8">
                        <img class="img-detail"
                            src="./../../../../assets/img/userIcons/{{(usersService.returnUsersPhotoUrl(channelServ.currentThread.post.authorId)) ? usersService.returnUsersPhotoUrl(channelServ.currentThread.post.authorId) : 'icon-unknown.svg'}}">
                        <span>{{usersService.returnUsersDisplayName(channelServ.currentThread.post.authorId)}}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="padding-8 show-user-details-btn-box">
                        <button class="color-white bg-c-1">Nachricht</button>
                        <button class="color-white bg-c-1">Anrufen</button>
                    </div>
                </div>
            </mat-menu>
            <div class="post-box">
                <div class="name-time-box">
                    <div>{{usersService.returnUsersDisplayName(channelServ.currentThread.post.authorId)}}</div>
                    <div>{{generalService.getTransformedTimeStampToDate(channelServ.currentThread.post.timeStamp)}}
                    </div>
                </div>
                <div class="content-box" [innerHTML]="channelServ.currentThread.post.content"></div>
            </div>
        </div>

        <div class="post-container"  *ngFor="let answer of channelServ.currentThread.post.answers">
            <div class="post-img">
                <img class="img-small"
                    src="./../../../../assets/img/userIcons/{{(usersService.returnUsersPhotoUrl(answer.authorId)) ? usersService.returnUsersPhotoUrl(answer.authorId) : 'icon-unknown.svg'}}">
            </div>
            <div class="post-box">
                <div class="name-time-box">
                    <div>{{usersService.returnUsersDisplayName(answer.authorId)}}</div>
                    <div>{{generalService.getTransformedTimeStampToDate(answer.timeStamp)}}
                    </div>
                </div>
                <div class="content-box" [innerHTML]="answer.content"></div>
            </div>
        </div>
    </div>
    <div class="writing-area-container">
        <div class="writing-area">
            <editor class="editor" [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a"
                [init]="{
  height: 200,
  width: '100%',
  menubar: false, 
  plugins: 'emoticons advlist autolink lists link image charmap preview anchor',
  toolbar: 'undo redo | bold italic | emoticons',
  emoticons_database: 'emojis'
   }"></editor>
            <button (click)="sendMessage()">
                <mat-icon mat-icon-button fontIcon="send" class="color-main-with-hover"></mat-icon>
            </button>
        </div>
    </div>
</div>