<div *ngIf="channelService.showChannel" class="thread-container">

    <div class="detail-view-header">
        <h2>Thread {{channelService.currentThread.name}}</h2>
    </div>
    <div #scrollMe class="all-posts-container">
        <div class="post-container">
            <mat-icon *ngIf="generalService.adminActive" class="menu_vert_icon" mat-icon-button fontIcon="more_vert"
                [matMenuTriggerFor]="menuPost">
            </mat-icon>
            <mat-menu #menuPost="matMenu" xPosition="before">
                <button (click)="deletePost(channelService.currentThread.post)" mat-menu-item>
                    <mat-icon>delete_forever</mat-icon>
                    <span>Löschen</span>
                </button>
            </mat-menu>
            <div class="post-img">
                <img [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                    (mouseenter)="getPosition($event); generalService.mouseEnter(menuTrigger)"
                    (mouseleave)="generalService.mouseLeave(menuTrigger)" class="img-small"
                    src="./../../../../assets/img/userIcons/{{(usersService.returnUsersPhotoUrl(channelService.currentThread.post.authorId)) ? usersService.returnUsersPhotoUrl(channelService.currentThread.post.authorId) : 'icon-unknown.svg'}}">
            </div>
            <mat-menu #menu="matMenu" xPosition="after" [yPosition]="menuPositionY" [hasBackdrop]="false">
                <div (mouseenter)="generalService.mouseEnter(menuTrigger)"
                    (mouseleave)="generalService.mouseLeave(menuTrigger)">
                    <app-user-window [uid]="channelService.currentThread.post.authorId"></app-user-window>
                </div>
            </mat-menu>
            <div class="post-box">
                <div class="name-time-box">
                    <div class="name">
                        {{usersService.returnUsersDisplayName(channelService.currentThread.post.authorId)}}</div>
                    <div class="time">
                        {{generalService.getTransformedTimeStampToDate(channelService.currentThread.post.timeStamp)}}
                    </div>
                </div>
                <div class="post-img-box">
                    <div class="content-box" *ngFor="let postImage of channelService.currentThread.post.imageUrl">
                        <div [innerHTML]="postImage"></div>
                    </div>
                </div>

                <div class="content-box" [innerHTML]="channelService.currentThread.post.content"></div>
            </div>
        </div>

        <div class="post-container" *ngFor="let answer of channelService.currentThread.post.answers">
            <mat-icon *ngIf="generalService.adminActive" class="menu_vert_icon" mat-icon-button fontIcon="more_vert"
                [matMenuTriggerFor]="menuPost">
            </mat-icon>
            <mat-menu #menuPost="matMenu" xPosition="before">
                <button (click)="deletePostAnswer(channelService.currentThread.post, answer.id)" mat-menu-item>
                    <mat-icon>delete_forever</mat-icon>
                    <span>Löschen</span>
                </button>
            </mat-menu>
            <div class="post-img">
                <img [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                    (mouseenter)="getPosition($event); generalService.mouseEnter(menuTrigger)"
                    (mouseleave)="generalService.mouseLeave(menuTrigger)" class="img-small"
                    src="./../../../../assets/img/userIcons/{{(usersService.returnUsersPhotoUrl(answer.authorId)) ? usersService.returnUsersPhotoUrl(answer.authorId) : 'icon-unknown.svg'}}">
            </div>
            <mat-menu #menu="matMenu" xPosition="after" [yPosition]="menuPositionY" [hasBackdrop]="false">
                <div (mouseenter)="generalService.mouseEnter(menuTrigger)"
                    (mouseleave)="generalService.mouseLeave(menuTrigger)">
                    <app-user-window [uid]="answer.authorId"></app-user-window>
                </div>
            </mat-menu>
            <div class="post-box">
                <div class="name-time-box">
                    <div class="name">{{usersService.returnUsersDisplayName(answer.authorId)}}</div>
                    <div class="time">{{generalService.getTransformedTimeStampToDate(answer.timeStamp)}}
                    </div>
                </div>
                <div class="content-box" [innerHTML]="answer.content"></div>
            </div>
        </div>
    </div>
    <div class="writing-area-container" (mouseenter)="threadEditorIsActive = true"
        (mouseleave)="threadEditorIsActive = false">
        <div class="writing-area" [ngStyle]="{'padding-bottom':(fileSelectedThread) ? '48px' : '0px'}">
            <editor class="editor-1" [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a"
                [init]="{
                height: 178,
                width: '100%',
                menubar: false, 
                plugins: 'preview emoticons advlist autolink lists link image charmap preview anchor autoresize',
                toolbar1: 'undo redo | bold italic | emoticons',
                emoticons_database: 'emojis'
                }">
            </editor>
            <div *ngIf="fileSelectedThread" class="show-selected-files">
                <div *ngFor="let filePreview of filesPreviewThread">
                    <div class="img-file-preview-box" (mouseover)="filePreview.hidden = false"
                        (mouseleave)="filePreview.hidden = true">
                        <img class="img-file-preview" src="{{filePreview.url}}" alt="">
                        <mat-icon (click)="deleteSelectedFile(filePreview.position)" *ngIf="!filePreview.hidden"
                            (mouseleave)="filePreview.hidden = true" class="file-preview-cancel-icon">
                            cancel</mat-icon>
                    </div>
                </div>
            </div>
            <editor class="editor-2" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a" [init]="{
                height: 178,
                width: '100%',
                menubar: false,
                toolbar1: 'undo redo | bold italic | emoticons'
                 }">
            </editor>
            <button class="button" (click)="sendMessage()">
                <mat-icon mat-icon-button fontIcon="send" class="color-main-with-hover"></mat-icon>
            </button>
            <div class="upload-container">
                <label for="file-input">
                    <mat-icon mat-icon-button>attach_file</mat-icon>
                </label>
                <input *ngIf="threadEditorIsActive" id="file-input-2" type="file" class="text-nowrap text-truncate"
                    (change)="selectFileThread($event)" multiple />
            </div>
        </div>
    </div>
</div>