.chat-current-author {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    img {
        margin-right: 32px;
        margin-left: 8px;
    }
}

.chat-friend-author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;

    img {
        margin-left: 32px;
        margin-right: 8px;
    }
}

.img-small{
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.writing-area {
    position: relative;
    display: flex;
    justify-content: center;
    // padding-bottom: 4px;


    button {
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 2;

        background-color: white;
        border: none;
    }
}

.editor {
    width: 100%;
}

.writing-area-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-chat-container {
    width: 100%;
    height: calc(100% - 37px);
    position: relative;
}

.post-container {
    display: flex;
    padding: 12px;
    border: 1px solid lightgray;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 12px;
}

.all-posts-container{
    height: calc(100vh - 322px);
}

.name-time-box {
    display: flex;
    margin-left: 16px;
    .name{
        font-weight: bold;
    }

    .time{
        opacity: 0.5;
        font-size: smaller;
    }
    div{
        margin-right: 12px;
    }
}

.content-box{
    margin-left: 16px;
}

.detail-view-header{
    h2{
        margin: 0;
    }
}