<div class="main-chat-container">
    <div *ngIf="chatService.showChat" class="chat-container all-posts-container" #scrollMe>
        <div *ngFor="let text of chatService.messages" class="chat-friend-box">
            <div class="post-container">
                <div class="post-img">
                    <img class="img-small"
                        src="./../../../../assets/img/userIcons/{{(usersService.returnUsersPhotoUrl(text.author)) ? usersService.returnUsersPhotoUrl(text.author) : 'icon-unknown.svg'}}">
                </div>
                <div class="post-box">
                    <div class="name-time-box">
                        <div>{{usersService.returnUsersDisplayName(text.author)}}</div>
                        <div>{{generalService.getTransformedTimeStampToDate(text.timeStamp)}}</div>
                    </div>
                    <div class="content-box" [innerHTML]="text.content"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="writing-area-container">
        <div class="writing-area">
            <editor class="editor" [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a"
                [init]="{
  height: 200,
  width: '100%',
  menubar: false, 
  plugins: 'emoticons advlist autolink lists link image charmap preview anchor',
  toolbar: 'undo redo | bold italic | emoticons',
  emoticons_database: 'emojis'
   }"></editor>
            <button (click)="sendMessage()">
                <mat-icon mat-icon-button fontIcon="send" class="color-main-with-hover"></mat-icon>
            </button>
        </div>
    </div>

</div>