<div class="bg-c-1-light">

    <div *ngIf="showChat" class="chat-container" #scrollMe>
        <div *ngFor="let text of messages" class="chat-friend-box">
            <div class="chat-friend-author" *ngIf="text.author == userFriend.uid">
                <div class="chat-friend-text" [innerHTML]="text.content"></div>
                <img
                    src="./../../../assets/img/userIcons/{{(userFriend.photoURL) ? userFriend.photoURL : 'icon-unknown.svg'}}">
                <p>{{userFriend.displayName}}</p>
            </div>
            <div class="chat-current-author" *ngIf="text.author == currentUser.uid">
                <p>{{currentUser.displayName}}</p>
                <img
                    src="./../../../assets/img/userIcons/{{(currentUser.photoURL) ? currentUser.photoURL : 'icon-unknown.svg'}}">
                <div class="chat-friend-text" [innerHTML]="text.content"></div>
            </div>
        </div>
    </div>

    <div class="writing-area">
        <editor [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a" [init]="{
  height: 150,
  width: 440,
  menubar: false, 
  plugins: 'emoticons advlist autolink lists link image charmap preview anchor',
  toolbar: 'undo redo | bold italic | emoticons',
  emoticons_database: 'emojis'
   }"></editor>
        <button (click)="sendMessage()">
            <mat-icon mat-icon-button fontIcon="send"></mat-icon>
        </button>
    </div>

</div>