<div class="main-chat-container">
    <div *ngIf="chatServ.showChat" class="chat-container" #scrollMe>
        <div *ngFor="let text of chatServ.messages" class="chat-friend-box">
            <div class="chat-friend-author bg-c-1-light" *ngIf="text.author == chatServ.currentUserChat.author">
                <div class="chat-friend-text" [innerHTML]="text.content"></div>
                <img class="img-small"
                    src="./../../../../assets/img/userIcons/{{(usersServ.returnUsersPhotoUrl(text.author)) ? usersServ.returnUsersPhotoUrl(text.author) : 'icon-unknown.svg'}}">
                <div>{{usersServ.returnUsersDisplayName(text.author)}}</div>
            </div>
            <div class="chat-current-author bg-c-1-light" *ngIf="text.author == authServ.userData.uid">
                <div>{{authServ.userData.displayName}}</div>
                <img class="img-small"
                    src="./../../../../assets/img/userIcons/{{(authServ.userData.photoURL) ? authServ.userData.photoURL : 'icon-unknown.svg'}}">
                <div class="chat-friend-text" [innerHTML]="text.content"></div>
            </div>
        </div>
    </div>

    <div class="writing-area-container">
        <div class="writing-area">
            <editor class="editor" [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a"
                [init]="{
  height: 200,
  width: '100%',
  menubar: false, 
  plugins: 'emoticons advlist autolink lists link image charmap preview anchor',
  toolbar: 'undo redo | bold italic | emoticons',
  emoticons_database: 'emojis'
   }"></editor>
            <button (click)="sendMessage()">
                <mat-icon mat-icon-button fontIcon="send"></mat-icon>
            </button>
        </div>
    </div>

</div>