<div class="main-container">
    <app-header></app-header>

    <mat-drawer-container class="main-box" autosize>
        <mat-drawer #drawer class="bg-c-1-light" mode="side">
            <app-chat-main></app-chat-main>
        </mat-drawer>

        <div class="example-sidenav-content">
            <div *ngIf="showOpen">
                <mat-icon mat-icon-button fontIcon="navigate_next" (click)="drawer.toggle(); changeArrow()"></mat-icon>
            </div>
            <div *ngIf="!showOpen">
                <mat-icon mat-icon-button fontIcon="navigate_before" (click)="drawer.toggle(); changeArrow()">
                </mat-icon>
            </div>
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>