.main-container {
    width: 100vw;
    height: 100vh;
}

.main-box{
    height: calc(100% - 58px);
}

.main-page-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.side-nav-icon-box{
    position: absolute;
}

.main-sub-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.w100{
    width: 100%;
}

.detail-view-head-container{
    width: 370px;
}