.main-container {
    width: 100vw;
    height: 100vh;
}

.main-page-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.side-nav-icon-box {
    position: absolute;
}

.main-sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 60px - 40px); //60px from the height of the header container and 40 px from the height of the footer
}

.w100 {
    width: 100%;
}

.detail-view-head-container {
    width: 370px;
}

.sidebar-app-container{
    overflow-y: auto;
    min-width: 180px;
}