.main-container {
    width: 100vw;
    height: 100vh;
}

.main-page-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.side-nav-icon-box {
    position: absolute;
}

.main-sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 60px); //60px from the height of the header container
}

.w100 {
    width: 100%;
}

.detail-view-head-container {
    width: 370px;
}