<div class="main-container">
    <div>
        <app-header></app-header>
    </div>
    <!--
    <mat-drawer-container class="main-box" autosize>
        <mat-drawer #drawer class="bg-c-1-light" mode="side">
            <app-channel></app-channel>
            <app-chat></app-chat>
        </mat-drawer>

        <div class="example-sidenav-content">
            <div class="side-nav-icon-box">
                <div *ngIf="showOpen">
                    <mat-icon mat-icon-button fontIcon="navigate_next" (click)="drawer.toggle(); changeArrow()">
                    </mat-icon>
                </div>
                <div *ngIf="!showOpen">
                    <mat-icon mat-icon-button fontIcon="navigate_before" (click)="drawer.toggle(); changeArrow()">
                    </mat-icon>
                </div>
            </div>

            <div class="main-page-box">
                <router-outlet></router-outlet>
                <app-detail-view-page></app-detail-view-page>
            </div>

        </div>

    </mat-drawer-container>
-->

    <div class="main-sub-container">
        <!--Sidebar-->
        <div class="bg-c-1-light padding-8">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-page-box">
            <div class="w100 bg-c-white">
                <router-outlet></router-outlet>
            </div>
            <div class="bg-c-white detail-view-head-container">
                <app-detail-view-page></app-detail-view-page>
            </div>

        </div>
    </div>
    <div>
        <app-footer class="w100"></app-footer>
    </div>

</div>