mat-card {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    line-height: 38px;

}

.header-top {
    position: relative;
}

.icon-header {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

mat-card-title {
    margin-bottom: 0px;
    padding-top: 12px; //margin -4px from ng mat
    padding-bottom: 8px;
}

.card-img-top {
    height: 130px;
    object-fit: contain;
}

.head-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-image: radial-gradient(#EDE3FF 5%, #E91E63 60%);
  //  border-bottom: 8px solid #E91E63;
}

.icon-header-home{
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;

        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}