.header-top {
    position: relative;
    text-align: center;
    padding: 0;
    width: 100vw;
    height: 60px;
}

h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    transform: translate(-50%, -50%);
}

.icon-header-color {
    position: absolute;
    right: 58px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: var(--secondary-color);
        }
    }
}

.icon-header-settings {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;
        margin-left: 12px;

        &:hover {
            cursor: pointer;
            color: var(--secondary-color);
        }
    }
}

mat-card-title {
    margin-bottom: 0px;
    padding-top: 12px; //margin -4px from ng mat
    padding-bottom: 8px;
}

.card-img-top {
    height: 130px;
    object-fit: contain;
}

.head-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-image: radial-gradient(#EDE3FF 5%, #E91E63 60%);
    //  border-bottom: 8px solid #E91E63;
}

.icon-header-home {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0%, -50%);

    mat-icon {
        color: white;

        &:hover {
            cursor: pointer;
            color: var(--secondary-color);
        }
    }
}