<div *ngIf="channelServ.showChannel" class="main-channel-container">
    <div class="detail-view-header">
        <p># <i>{{channelServ.currentChannel.name}}</i></p>
    </div>
    <div #scrollMe class="all-posts-container">
        <div *ngFor="let post of channelServ.posts; let i=index; let last = last" [ngClass]="{'last-child': last}">
            <div class="post-container" (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">
                <mat-icon *ngIf="generalService.adminActive" class="menu_vert_icon" mat-icon-button fontIcon="more_vert"
                    [matMenuTriggerFor]="menuPost">
                </mat-icon>
                <mat-menu #menuPost="matMenu" xPosition="before">
                    <button (click)="deletePost(post)" mat-menu-item>
                        <mat-icon>delete_forever</mat-icon>
                        <span>Löschen</span>
                    </button>
                </mat-menu>
                <div #userImage class="post-img">
                    <img [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                        (mouseenter)="getPosition($event); generalService.mouseEnter(menuTrigger)"
                        (mouseleave)="generalService.mouseLeave(menuTrigger)" class="img-small"
                        src="./../../../../assets/img/userIcons/{{(userService.returnUsersPhotoUrl(post.authorId)) ? userService.returnUsersPhotoUrl(post.authorId) : 'icon-unknown.svg'}}">
                </div>
                <mat-menu #menu="matMenu" xPosition="after" [yPosition]="menuPositionY" [hasBackdrop]="false">
                    <div (mouseenter)="generalService.mouseEnter(menuTrigger)"
                        (mouseleave)="generalService.mouseLeave(menuTrigger)">
                        <app-user-window [uid]="post.authorId"></app-user-window>
                    </div>
                </mat-menu>
                <div class="post-box">
                    <div class="name-time-box">
                        <div>{{userService.returnUsersDisplayName(post.authorId)}}</div>
                        <div>{{generalService.getTransformedTimeStampToDate(post.timeStamp)}}</div>
                    </div>
                    <div class="content-box" *ngFor="let postImage of post.imageUrl">
                        <div [innerHTML]="postImage"></div>
                    </div>
                    <div class="content-box" [innerHTML]="post.content"></div>
                    <div class="answer-box" *ngIf="post.answers.length > 1">
                        <span class="color-main-with-hover"
                            (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">{{post.answers.length}}
                            Antworten</span>
                    </div>

                    <div class="answer-box" *ngIf="post.answers.length == 1">
                        <span class="color-main-with-hover"
                            (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">{{post.answers.length}}
                            Antwort</span>
                    </div>

                    <div class="answer-box" *ngIf="post.answers.length == 0">
                        <span class="color-main-with-hover"
                            (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">Schreibe eine
                            Antwort</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="writing-area-container">
        <div class="writing-area" [ngStyle]="{'padding-bottom':(fileSelected) ? '48px' : '0px'}">
            <editor class="editor-1" [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a"
                [init]="{
                height: 178,
                width: '100%',
                menubar: false, 
                plugins: 'preview emoticons advlist autolink lists link image charmap preview anchor autoresize',
                toolbar1: 'undo redo | bold italic | emoticons',
                emoticons_database: 'emojis'
                }">
            </editor>
            <div *ngIf="generalService.fileSelected" class="show-selected-files">
                <div *ngFor="let filePreview of generalService.filesPreview">
                    <div class="img-file-preview-box" (mouseover)="filePreview.hidden = false"
                        (mouseleave)="filePreview.hidden = true">
                        <img class="img-file-preview" src="{{filePreview.url}}" alt="">
                        <mat-icon (click)="deleteSelectedFile(filePreview.position)" *ngIf="!filePreview.hidden"
                            (mouseleave)="filePreview.hidden = true" class="file-preview-cancel-icon">
                            cancel</mat-icon>
                    </div>
                </div>
            </div>
            <editor class="editor-2" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a" [init]="{
                height: 178,
                width: '100%',
                menubar: false,
                toolbar1: 'undo redo | bold italic | emoticons'
                 }">
            </editor>
            <button class="button" (click)="sendMessage()">
                <mat-icon mat-icon-button fontIcon="send" class="color-main-with-hover"></mat-icon>
            </button>
                <div class="upload-container">
                <label for="file-input">
                    <mat-icon mat-icon-button (click)="generalService.changeActiveEditorToChannel()">attach_file</mat-icon>
                </label>
                <input id="file-input" type="file" class="text-nowrap text-truncate" (change)="generalService.selectFile($event)" multiple/>
            </div>
           

        </div>
    </div>

</div>