<div *ngIf="channelServ.showChannel" class="main-channel-container">
    <div class="detail-view-header">
        <h2 class="channel-headline">Channel {{channelServ.currentChannel.name}}</h2>
    </div>
    <div #scrollMe class="all-posts-container">
        <div (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)"
            *ngFor="let post of channelServ.posts; let i=index; let last = last" [ngClass]="{'last-child': last}">
            <div class="post-container">
                <div #userImage class="post-img">
                    <img [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                        (mouseenter)="getPosition($event); generalService.mouseEnter(menuTrigger)"
                        (mouseleave)="generalService.mouseLeave(menuTrigger)" class="img-small"
                        src="./../../../../assets/img/userIcons/{{(userService.returnUsersPhotoUrl(post.authorId)) ? userService.returnUsersPhotoUrl(post.authorId) : 'icon-unknown.svg'}}">
                </div>
                <mat-menu #menu="matMenu" xPosition="after" [yPosition]="menuPositionY" [hasBackdrop]="false">
                    <div (mouseenter)="generalService.mouseEnter(menuTrigger)"
                        (mouseleave)="generalService.mouseLeave(menuTrigger)">
                        <app-user-window [uid]="post.authorId"></app-user-window>
                    </div>
                </mat-menu>
                <div class="post-box">
                    <div class="name-time-box">
                        <div>{{userService.returnUsersDisplayName(post.authorId)}}</div>
                        <div>{{generalService.getTransformedTimeStampToDate(post.timeStamp)}}</div>
                    </div>
                    <div class="content-box" [innerHTML]="post.content"></div>

                    <div class="answer-box" *ngIf="post.answers.length > 1">
                        <span class="color-main-with-hover"
                            (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">{{post.answers.length}}
                            Antworten</span>
                    </div>

                    <div class="answer-box" *ngIf="post.answers.length == 1">
                        <span class="color-main-with-hover"
                            (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">{{post.answers.length}}
                            Antwort</span>
                    </div>

                    <div class="answer-box" *ngIf="post.answers.length == 0">
                        <span class="color-main-with-hover"
                            (click)="changeDetailViewPageContentToThread(); saveAnswersToShow(post)">Schreibe eine
                            Antwort</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="writing-area-container">

        <img height="200" src="{{url}}" alt="">

        <div *ngIf="currentFileUpload" class="progress mt-2">
            <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                {{ percentage }}%
            </div>
        </div>
        <div class="writing-area">
            <editor class="editor" [(ngModel)]="message" apiKey="0u347b51bx380ihx2w2vws4bfqf9dfqewelzkjxsl7p5ki0a"
                [init]="{
                height: 150,
                width: '100%',
                menubar: false, 
                plugins: 'emoticons advlist autolink lists link image charmap preview anchor',
                toolbar: 'undo redo | bold italic | emoticons',
                emoticons_database: 'emojis'
                }">
            </editor>
            <button class="button" (click)="sendMessage()">
                <mat-icon mat-icon-button fontIcon="send" class="color-main-with-hover"></mat-icon>
            </button>
            <div class="upload-container">
                <label for="file-input">
                    <mat-icon mat-icon-button>attach_file</mat-icon>
                </label>
                <input id="file-input" type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
                <button mat-icon-button class="upload-button" [disabled]="!selectedFiles"
                    (click)="upload()">
                    <mat-icon>upload</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>