@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.swiper-container-mobil {
    height: 100%;
}


/**/

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.mobil-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobil-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-container-mobil {
    height: calc(100vh - 100px);
}

.mySwiper {
    height: calc(100vh - 100px);
}

.sidebar-app-container-mobil{
    overflow: auto;
    height: 100%;
}