<div class="exp-box">
    <mat-accordion type MatAccordionTogglePosition = 'after'  class="exp-box bg-c-1-light">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="expansion-title">
                        <span>Channel</span>
                        <mat-icon fontIcon="add"></mat-icon>
                    </div>

                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let channel of channelServ.arrayOfChannels">
                <div (click)="saveCurrentChannelId(channel.id); navigateToChannelMain()">
                    {{channel.name}}
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>